.nav-link {
  font-size: 14pt;
  color: white;
}

.title {
  font-size: 25pt;
  color: white;
  margin-left: 10%;
}

.title-background {
  background-color: #6b7075;
}

.navbar-dark {
  background-color: #6b7075;
}

.name {
  color: white !important;
  font-size: 15pt;
}

.react-calendar__month-view__weekdays__weekday abbr{
  text-decoration: none;
  text-transform: capitalize;
}

.react-calendar{
  border-radius: 7px;
}

.react-calendar__navigation__label {
  text-transform: capitalize;
}

.breadcrumb {
  background-color: #dae2e8;
  padding-top: 5px;
  font-size: 14pt;
}
